img {
    border-radius:50px;
}

body {
    text-align: center;
}
body {
    background: hsla(0, 82%, 2%, 1);

    background: linear-gradient(315deg, hsla(0, 82%, 2%, 1) 14%, hsla(26, 100%, 20%, 1) 74%);
    
    background: -moz-linear-gradient(315deg, hsla(0, 82%, 2%, 1) 14%, hsla(26, 100%, 20%, 1) 74%);
    
    background: -webkit-linear-gradient(315deg, hsla(0, 82%, 2%, 1) 14%, hsla(26, 100%, 20%, 1) 74%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0A0101", endColorstr="#642B00", GradientType=1 );

font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 15px;
letter-spacing: 3.6px;
word-spacing: 2.6px;
color: #850303;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
 P {
    text-align:center ;
 }


 P {
    padding-left:300px;
    padding-right:300px;
 }

span{
    color: #a25625;

}
.arrow{
        border: solid rgb(255, 255, 255);
        border-width: 0 10px 10px 0px;
        display: inline-block;
        padding: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  @media screen and (max-width:600p){
    
  }